<div class="container-fluid pr-0 pl-0 w-100 ">
    <div class="grid">
        <div class="row">
            <div class="cell-sm pt-0 pb-0 pr-0">

                <body>
                    <aside class="side-bar animated fadeIn">
                        <div data-role="navview" data-compact="md" data-expand="lg" class="navview navview-compact-md navview-expand-lg js-compact" data-toggle="#pane-toggle">
                            <nav class="navview-pane">
                                <div class="navview-container">
                                    <!-- booton para cerrar abrir menu -->
                                    <button class="pull-button">
                                      <span class="default-icon-menu"></span>
                                    </button>
                                </div>
                                <!-- items del menu -->
                                <app-side-bar class="navview-menu-container" style="height: calc(100% - 104px)"></app-side-bar>
                            </nav>
                            <div class="navview-content">

                                <app-header></app-header>
                                <!-- breadcrumbs -->
                                <app-breadcrumbs></app-breadcrumbs>
                                <!-- para mostrar los demas componentes -->
                                <router-outlet></router-outlet>
                            </div>
                        </div>
                    </aside>
                </body>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>