<div class="row">
    <div class="cell w-100 d-flex flex-justify-center">
        <div class="spinner-grow fg-ligth" style="width: 4rem; height: 4rem;" role="status">
        </div>
        <div class="spinner-grow fg-ligthBlue" style="width: 4rem; height: 4rem;" role="status">
        </div>
        <div class="spinner-grow fg-blue" style="width: 4rem; height: 4rem;" role="status">
        </div>
        <div class="spinner-grow fg-darkBlue" style="width: 4rem; height: 4rem;" role="status">
        </div>
    </div>
</div>
