<div class="card">
  <div class="card-body">
    <!-- Barra para añadir -->
    <div class="row">
      <div class="cell-3 text-left">
        <div class="d-flex flex-justify-start">
          <h5>Todos los clientes</h5>
        </div>
      </div>
      <div class="cell-3 offset-6 text-right">
        <div class="d-flex flex-justify-end">
          <a
            class="button primary shadowed btn-block"
            routerLink="/dashboard/crearcli/:id"
            >Añadir</a
          >
        </div>
      </div>
    </div>
    <!-- Acciones y input para filtrar -->
    <div class="row">
      <div class="cell-3 offset-6">
        <div class="d-flex flex-justify-between">
          <input type="text" data-role="input" data-prepend="Buscar: " />
        </div>
      </div>
      <div class="cell-3 offset-0">
        <div class="d-flex flex-justify-between">
          <button class="button info shadowed btn-block">Acciones</button>
        </div>
      </div>
    </div>
    <!-- Tabla -->
    <div class="row">
      <div class="cell-sm">
        <table class="table row-hover row-border">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Cédula</th>
              <th>Email</th>
              <th>Teléfono</th>
              <th>Dirección</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cli of clientes">
              <th>{{ cli.nombres + " " + cli.apellidos }}</th>
              <th>{{ cli.cedula }}</th>
              <th>{{ cli.email }}</th>
              <th>{{ cli.celular }}</th>
              <th>{{ cli.direccion }}</th>
              <td>
                <div class="row row-width">
                  <div class="cell-sm-6">
                    <button
                      class="button primary rounded shadowed"
                      [routerLink]="['/dashboard/crearcli/', cli.id]"
                    >
                      <span class="ml-1"
                        >Editar <i class="fas fa-edit ml-1"></i
                      ></span>
                    </button>
                  </div>
                  <div class="cell-sm-6">
                    <button
                      class="button alert rounded shadowed"
                      (click)="eliminarClienteLogico(cli)"
                    >
                      <span class="ml-1"
                        >Borrar<i class="fas fa-trash-alt ml-1"></i
                      ></span>
                    </button>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- Spinner -->
    <div class="row">
      <div class="cell">
        <div *ngIf="">
          <app-spinner></app-spinner>
        </div>
      </div>
    </div>
    <!-- paginador -->
    <div class="row">
      <div class="cell-12 d-flex flex-justify-end">
        <!-- componente paginador -->
        <app-paginator
          *ngIf="paginador"
          [paginador]="paginador"
          [path]="path"
        ></app-paginator>
      </div>
    </div>
  </div>
</div>
