<div class="container-fluid">
    <div class="grid ">
        <div class="row">
            <div class="cell-sm-12 cell-md-12 cell-12">
                <div class="card mb-2 w-50 " style="margin-top: 15%;">
                    <div class="card-body">
                        <div class="w-100 border-bottom d-flex justify-content-center">
                            <h4>¿Has olvidado la contraseña?</h4>
                        </div>
                        <div class="w-100 mt-5">
                            <input  type="text" 
                                    data-role="input"
                                    placeholder="Correo electrónico">
                        </div>
                        <div class="w-100 d-flex justify-content-center">
                            <div class="mt-3">
                                <input  type="submit"
                                  class="button shadowed primary border-radius-2"
                                  value="Restablecer contraseña">
                                <a  class="mt-2 decoration"
                                    [routerLink]="['/login']">  o  Iniciar sesión</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>